* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #451003;
    color: white;
    padding: 20px 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 2.5em;
    margin-right: 20px;
}

.nav-button {
    background-color: #fff;
    color: #451003;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.nav-button:hover {
    background-color: #772d0a;
    color: white;
}


nav {
    display: flex;
}

.link-item {
    color: white;
    text-decoration: none;
    margin-right: 50px;
    transition: color 0.3s;
}

.link-item:hover {
    color: #dddddd49;
}

.container {
    display: grid;
    grid-template-columns: 2fr 1fr ;
    gap: 20px;
    max-width: 1300px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.livros {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px;
}

.livro {
    display: flex;
    background-color: #fdfdfd;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s;
}

.livro:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.livro img {
    width: 150px;
    height: auto;
    border-radius: 8px;
    margin-right: 20px;
}

.livro-content {
    flex: 1;
}

.livro h1 {
    font-size: 1.4em;
    margin: 10px 0;
}

.livro h2 {
    color: #666;
    margin-bottom: 10px;
}

.livro button {
    padding: 10px;
    background-color: #451003;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
    text-align: center;
}

.livro button:hover {
    background-color: #772d0a;
}

#carrinho-container {
    background-color: #fff;
    padding: 20px;
    border: 2px solid #eaeaea;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

#carrinho-container h1 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
}

#carrinho-items {
    margin-bottom: 20px;
}

#carrinho-items div {
    padding: 10px 0;
    border-bottom: 1px solid #eaeaea;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#carrinho-items div:last-child {
    border-bottom: none;
}

#total-preco {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
}

#carrinho-container button {
    width: 60%;
    padding: 12px;
    margin: 10px 1%;
    background-color: #451003;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#carrinho-container button:hover {
    background-color: #772d0a;
}

footer {
    background-color: #451003;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    height: 80px;
    box-sizing: border-box;
}

footer a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

footer a:hover {
    color: #ddd;
}

.quantidade-container {
    display: flex;
    align-items: center;
}

.quantidade {
    width: 50px;
    margin-left: 15px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    text-align: center;
}