* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #451003;
    color: white;
    padding: 20px 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.nav-button {
    background-color: #fff;
    color: #451003;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.nav-button:hover {
    background-color: #772d0a;
    color: white;
}

h1 {
    font-size: 2.5em;
    margin-right: 20px;
}

nav {
    display: flex;
}

.link-item {
    color: white;
    text-decoration: none;
    margin-right: 50px;
    transition: color 0.3s;
}

.link-item:hover {
    color: #dddddd49;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.livro {
    display: flex;
    align-items: center;
    border: 1px solid #eaeaea; 
    border-radius: 5px; 
    padding: 15px;
    background-color: #fefefe;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); 
}

.imagem img {
    width: 100px;
    border-radius: 5px;
}

.desc {
    margin-left: 10px;
    flex: 1;
}

.desc h1 {
    font-size: 1.5em;
    margin-bottom: 5px;
}

.desc h2 {
    margin-bottom: 5px;
    color: #666;
}

button {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #451003;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #772d0a;
}

footer {
    background-color: #451003;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    height: 80px;
    box-sizing: border-box;
}

footer a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

footer a:hover {
    color: #ddd;
}