* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%; 
    display: flex;
    flex-direction: column;
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #451003; 
    color: white;
    padding: 20px 30px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2em;
}

.nav-button {
    background-color: #fff;
    color: #451003; 
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.nav-button:hover {
    background-color: #772d0a; 
    color: white;
}

main {
    flex: 1;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
}

.livro-info {
    display: flex;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 40px;
}

.livro-imagem {
    width: 300px;
    height: auto;
    margin-right: 20px;
}

.data-hora {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;   
}

.data-hora h1 {
    font-size: 2em;
    color: #b35c15; 
}

.data-hora h2 {
    font-size: 1.5em;
    color: #772d0a; 
}

.data-hora p {
    font-size: 1em; 
    margin: 5px 0;
    color: #666;
}

.preco {
    font-size: 1.5em;
    color: #f89c1c; 
    font-weight: bold;
    margin-top: 15px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0;
}

.link-item {
    background-color: #fff;
    border: 1px solid #b35c15; 
    border-radius: 10px;
    padding: 15px 20px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    color: #451003; 
    transition: background-color 0.3s, color 0.3s;
    width: 150px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.link-item:hover {
    background-color: #b35c15; 
    color: white;
}

footer {
    background-color: #451003;
    color: white;
    text-align: center;
    padding: 20px 10px;
    bottom: 0px;
}

footer p {
    color: white;
    padding: 5px;
    transition: color 0.3s;
}