* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #451003;
    color: white;
    padding: 20px 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

nav {
    display: flex;
}

.link-item {
    color: white;
    text-decoration: none;
    margin-right: 50px;
    transition: color 0.3s;
}

.link-item:hover {
    color: #dddddd49;
}

.nav-button {
    background-color: #fff;
    color: #451003;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.nav-button:hover {
    background-color: #772d0a;
    color: white;
}

.localgrafico1, .localgrafico2 {
    flex: 1;
    padding: 40px 30px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 20px auto;
    max-width: 1300px;
}

h2 {
    margin-top: 20px;
    font-size: 2em;
    color: #451003;
    margin-bottom: 10px;
    text-align: center; 
}

.grafico_container {
    max-width: 1000px;
    margin: 0 auto; 
    height: 400px; 
}

footer {
    background-color: #451003;
    color: white;
    text-align: center;
    padding: 20px 10px;
    bottom: 0px;
}

footer a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

footer a:hover {
    color: #ddd;
}
