* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #451003;
    color: white;
    padding: 20px 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.nav-button {
    background-color: #fff;
    color: #451003;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.nav-button:hover {
    background-color: #772d0a;
    color: white;
}

h1 {
    font-size: 2.5em;
    margin-right: 20px;
}

nav {
    display: flex;
}

.link-item {
    color: white;
    text-decoration: none;
    margin-right: 50px;
    transition: color 0.3s;
}

.link-item:hover {
    color: #dddddd49;
}

.container_rec {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#recomendacoes_livro {
    margin-top: 20px;
}

.livro_rec {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eaeaea;
    padding: 10px 0;
}

.livro_rec:last-child {
    border-bottom: none;
}

.livro_rec img {
    width: 80px;
    border-radius: 5px;
    margin-right: 15px;
}

.livro_rec h3 {
    font-size: 1.5em;
    color: #333; 
    margin: 5px 0;
}

button {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #451003;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #772d0a;
}

footer {
    background-color: #451003;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    height: 100px;
    box-sizing: border-box;
}

footer a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

footer a:hover {
    color: #ddd;
}
